/* This is just the footer components from the bootstrap blog.css file */

/*
 * Footer
 */

.footer-top {
	padding: 2rem;
	color: #fff;
	text-align: center;
	background-color: #1E3765;
	border-top: .05rem solid #e5e5e5;
	min-height: 20%;
}

.footer-top p:last-child {
	margin-bottom: 0;
}

.footer-bottom {
	padding: 1rem;
	color: #fff;
	text-align: center;
	background-color: #0a1527;
	min-height: 10%;
}

.row-centered {
    display:inline-block;
}

.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-4px;
}

.footer-logo {
	width:19%;
  	height:auto;
	padding-bottom:2%;
}